.Members {

  .Box{
    display: flex;
    justify-content: space-between;
    .content {
      width: 70%;
      height: auto;
      border-top: 3px solid #000;
      padding: 10px;
    }
  
    .imgBox{
      width: 305px;
      height: 40vh;
      margin-left: 10px;
      background: #ddd;
      border-left: 1px solid #000;
      border-bottom: 3px solid #000;

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .signBox {
    width: 100%;
    height: auto;
    background: #000;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    h2{
      color: #fff;
      position: absolute; /* h2를 절대 위치로 설정 */
      top: 30%; /* 부모 요소의 가운데 정렬을 위해 상단을 50%로 설정 */
      left: 50%; /* 부모 요소의 가운데 정렬을 위해 왼쪽을 50%로 설정 */
      transform: translate(-50%, -50%); /* h2를 수평 및 수직으로 정확하게 가운데 정렬 */
      z-index: 1; /* h2를 이미지 위로 겹치게 함 */

    }
    span{
      color: #fff;
      position: absolute; /* h2를 절대 위치로 설정 */
      text-align: center;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); /* h2를 수평 및 수직으로 정확하게 가운데 정렬 */
      z-index: 1; /* h2를 이미지 위로 겹치게 함 */
    }
  }
  
  .join{
    display: flex;
    justify-content: space-between;

    table {
      text-align: center;
      width: 50%;
      border: none;
      margin-top: 100px;

      th {
        width: 10%;
        border: none;
        border-bottom: 1px solid #bbb;
        padding: 15px 30px;
        text-align: left;

        &:last-child {
          text-align: center;
          input[type="submit"],
          input[type="reset"] {
            border: none;
            width: 150px;
            height: 30px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin: 0px 10px;
            cursor: pointer;
          }
        }
      }
      td {
        border: none;
        border-bottom: 1px solid #bbb;
        border-left: 1px solid #bbb;
        padding: 15px 30px;

        input[type="text"],
        input[type="password"],
        textarea,
        select {
          width: 100%;
          border: 1px solid #aaa;
          padding: 6px 10px;
          background: #ffffff;
          resize: none;
        }

        input[type="checkbox"],
        input[type="radio"] {
          margin-right: 20px;
          margin-left: 5px;
        }

        p {
          font: 0.8rem/1.2 "돋움";
          color: rgb(141, 141, 141);
          margin-top: 5px;
        }
      }
    }
    .side {
      width: 40%;
      height: 100vh;
      margin-top: 100px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; /* 수평 가운데 정렬 */
      align-items: center; /* 수직 가운데 정렬 */
    
      .txtBox {
        width: 80%;
        height: auto;
        padding: 8px 10px;
        text-align: center;
        border-right: 1px solid #000;
        border-bottom: 4px solid #000;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.6s;

        h2, span{
          align-items: center;
        }

        &:hover{
          box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.05);
        }
      }

      .img{
        width: 80%;
        height: 60vh;
        background: #000;

        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    } 
  }
}



//tablet mediaquery
.tablet,
.mobile {
  .Members {
    .Box{
      display: flex;
      flex-wrap: wrap;
      .content {
        width: 100%;
      }
    
      .imgBox{
        width: 100%;  
        margin-top: 20px;
      }
    }
  
    table {
      td {
        input[type="text"],
        input[type="password"],
        textarea,
        select {
          width: 100%;
        }
      }
    }
    .side{
      width: 100%;
      flex-wrap: wrap;

    }
  }
}

//tablet mediaquery
.mobile {
  .Members {
    table {
      width: 100%;
      th {
        display: none;
        &:last-child {
          display: block;
          width: 100%;

          input {
            width: 40%;
          }
        }
      }
      td {
        width: 100%;
        border-left: none;
        padding: 20px 0px;

        input[type="text"],
        input[type="password"],
        textarea,
        select {
          width: 100%;
        }
      }
    }
  }
}
