.Community {
	
	.container {
		display: flex;
		justify-content: space-around;

		h2{
			font-size: 3rem;
		}

		.inputBox {
			position: relative;
			width: 50%;
			// border: 1px solid #aaa;
			background: #eee;
			padding: 15px;
			margin-top: 50px;
			margin-bottom: 50px;
			border-top: 3px solid #000;	
			border-left: 1px solid #000;
	
			input[type='text'],
			textarea {
				width: 100%;
				padding: 8px 10px;
				border: none;
				border-bottom: 1px solid #000000;
				resize: none;
				background: transparent;
				outline: none;
			}
	
			.btnSet {
				right: 3%;
				display: flex;
				justify-content: space-around;
	
				button {
					display: inline-block;
					border: none;
					background: transparent;
					margin-right: 45px;
					color: #666;
					cursor: pointer;
					transition: 0.6s;
	
					&:hover {
						color: #ffffff;
						background: #000;
					}
				}
			}
		}
	
		.imgBox {
			width: 35%;
			height: auto;
			background: #000;
			margin-top: 50px;
			text-align: center;
			position: relative; /* 부모 요소를 상대적으로 설정 */
		  
			img {
			  width: 100%;
			  height: 100%;
			  object-fit: cover;
			}
		  
			h2 {
			  color: #fff;
			  position: absolute; /* h2를 절대 위치로 설정 */
			  top: 50%; /* 부모 요소의 가운데 정렬을 위해 상단을 50%로 설정 */
			  left: 50%; /* 부모 요소의 가운데 정렬을 위해 왼쪽을 50%로 설정 */
			  transform: translate(-50%, -50%); /* h2를 수평 및 수직으로 정확하게 가운데 정렬 */
			  z-index: 1; /* h2를 이미지 위로 겹치게 함 */
			}
		  }
		  

	}

	hr{
		margin-top: 30px;
	  }

	.contextBox{
		width: 100%;
		height: 30vh;
		text-align: center;
		align-items: center;
		margin-top: 80px;
		margin-bottom: 50px;
	}



	
	.showBox {
		width: 100%;
		// border: 1px solid #aaa;
		// padding: 50px;

		article {
			width: 48%;
			background: #eee;
			padding: 30px;
			margin: 10px;
			margin-bottom: 40px;
			align-content: center;
			flex-wrap: wrap;
			float: left;
			border-top: 2px solid #000;
			border-right: 4px solid #000;
			transition: 0.6s;

			&:nth-of-type(even) {
				margin-right: 0px;
			}

			&:hover{
				box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.05);
			}

			.txt {
				width: 88%;
				h2 {
					margin-bottom: 10px;
				}

				input[type='text'],
				textarea {
					width: 50%;
					padding: 8px 10px;
					border: 1px solid #aaa;
					resize: none;
					margin-bottom: 10px;
					background: #f0fdff;
				}
			}
			.btnSet {
				width: 100%;
				display: flex;
				gap: 20px;
				align-items: center;
				justify-content: flex-end;

				button {
					border: none;
					background: transparent;
					cursor: pointer;
					&:nth-of-type(1) {
						color: rgb(0, 0, 0);
					}
					&:nth-of-type(2) {
						color: rgb(0, 0, 0);
					}

					&:hover{
						background: #000;
						color: #fff;
					}
				}
			}
		}
	}
}

.tablet,
.mobile{

	.Community{
		.container {
			display: flex;
			flex-wrap: wrap;
	
			.inputBox {
				width: 100%;
			}
		
			.imgBox {
				width: 100%;
			  }
		}
		.contextBox{
			h1{
				font-size: 2rem;
			}
		}

		.showBox{
			width: 100%;

			article{
				width: 100%;
			}
		}
	}
}
